[binaries]
c = '$PREFIX/bin/x86_64-elf-gcc'
as = '$PREFIX/bin/x86_64-elf-as'
ar = '$PREFIX/bin/x86_64-elf-ar'
strip = '$PREFIX/bin/x86_64-elf-strip'

[properties]
sizeof_int = 4
sizeof_wchar_t = 4
sizeof_void* = 4

aligment_char = 1
aligment_void* = 4
aligment_double = 4

has_function_printf = false

[host_machine]
system = 'breados'
cpu_family = 'x86'
cpu = 'x86_64'
endian = 'little'

